__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

*.egg-info/
dist/
build/
.eggs/

.venv/
.env
.env.*

.vscode/
.idea/
.DS_Store
Thumbs.db

.ipynb_checkpoints/

logs/
*.log

/results.csv
/notes/
/path_of_exile/
